@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply
    font-inter
}

header {
    @apply
    w-full
    h-screen
    bg-[#F9F8FF]
    overflow-hidden
}

.content-container {
    @apply
    mx-auto
    max-w-[1200px]
}

header nav.nav {
    @apply
    px-4
    xl:px-0
    py-10
    text-black
}

nav.nav a.nav-link {
    @apply
    inline-block
    text-2xl
    font-semibold
    tracking-[0.48px]
}

a.nav-link span {
    @apply
    text-primary
}

header .header-content-wrapper {
    @apply
    px-4
    xl:px-0
    py-2.5
    flex
    flex-col
    lg:flex-row
}

.header-content-wrapper .left-hero-content {
    @apply
    order-2
    lg:order-1
    h-max
    py-[50px]
    block
    w-full
    max-[768px]:max-w-[578px]
    space-y-6
}

.left-hero-content h1 {
    @apply
    text-black
    text-[54px]
    font-bold
    leading-[70px]
    tracking-[1.0388534px]
}

.left-hero-content p {
    @apply
    text-grey
    text-sm
    max-w-[527px]
    font-semibold
    tracking-[0.28px]
}

.left-hero-content a {
    @apply
    inline-block
    bg-primary
    text-white
    rounded-lg
    px-10
    py-4
    text-sm
    font-semibold
    tracking-[0.28px]
}

.header-content-wrapper .right-hero-content {
    @apply
    order-1
    lg:order-2
    relative
    w-full
    h-full
    lg:h-[580px]
}

.right-hero-content .component-wrapper {
    @apply
    /* absolute */
    /* left-1/2 */
    /* top-1/2 */
    /* -translate-x-1/2 */
    /* -translate-y-1/2 */
    /* lg:-left-[73px] */
    /* lg:top-0 */
    /* lg:-translate-x-0 */
    /* lg:-translate-y-0 */
    w-full
    min-[1440px]:max-w-[572px]
    /* max-[320px]:w-[250px] */
    /* lg:w-[669px] */
    /* md:w-full */
    h-full
}

.component-wrapper .main-component-wrapper {
    @apply
    /* absolute */
    /* top-1/2 */
    /* right-0 */
    /* -translate-y-1/2 */
    /* w-full */
    /* h-full */
    overflow-hidden
}

@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

.main-component-wrapper svg {
    animation: 50s rotate360 infinite linear;
}

.main-component-wrapper img {
    @apply
    absolute
    left-[41px]
    top-[41px]
    right-10
    bottom-10
    w-full
    max-w-[340px]
    sm:max-w-[491px]
}

.component-wrapper .task-progress {
    @apply
    w-56
    bg-white
    rounded-lg
    p-7
    space-y-[22px]
    absolute
    top-[234px]
    right-[475px]
    max-[730px]:hidden
    drop-shadow-[0_24px_34px_rgba(199,201,217,0.25)]
}

.task-progress .title {
    @apply
    text-sm
    leading-[21px]
    tracking-[0.28px]
}

.task-progress .progress-skills-wrapper {
    @apply
    h-6
}

.progress-skills-wrapper h1 {
    @apply
    text-black
    text-xs
    leading-[15px]
    tracking-[0.3px]
}

.progress-skills-wrapper .bar-wrapper {
    @apply
    mt-1.5
    w-full
    h-[3px]
    rounded-full
}

.bar-wrapper.bar-wrapper-1 {
    @apply
    bg-[#5448A11A]
}

.bar-wrapper.bar-wrapper-2 {
    @apply
    bg-[#A154481A]
}

.bar-wrapper.bar-wrapper-3 {
    @apply
    bg-[#48A1541A]
}

.bar-wrapper .bar {
    @apply
    h-[3px]
    rounded-full
}

.bar-wrapper .bar.bar-1 {
    @apply
    w-4/5
    bg-[#7868E6]
}

.bar-wrapper .bar.bar-2 {
    @apply
    w-4/5
    bg-[#E67868]
}

.bar-wrapper .bar.bar-3 {
    @apply
    w-1/2
    bg-[#68E678]
}

.component-wrapper .teks-message {
    @apply
    w-[191px]
    h-[136px]
    absolute
    top-[15px]
    right-[18px]
    max-[730px]:hidden
    drop-shadow-[0_24px_34px_rgba(199,201,217,0.20)]
}

.teks-message .rectangle {
    @apply
    bg-white
    rounded-lg
    pl-4
    pt-6
    pr-[23px]
    pb-[29px]
}

.rectangle p {
    @apply
    text-black
    text-[13px]
    leading-[18px]
    tracking-[0.26px]
}

.teks-message svg {
    @apply
    ml-7
    -mt-px
    w-[54px]
    h-[30px]
}

section.specialities-section {
    @apply
    px-4
    xl:px-0
    pt-[150px]
}

.specialities-section .title-description-wrapper {
    @apply
    w-full
    text-center
}

.title-description-wrapper h1 {
    @apply
    text-black
    text-[32px]
    font-bold
    leading-10
    tracking-[0.64px]
}

.title-description-wrapper p {
    @apply
    text-grey
    text-sm
    tracking-[0.28px]
}

.specialities-section .card-wrapper {
    @apply
    mt-[60px]
    w-full
    grid
    grid-cols-1
    lg:grid-cols-2
    xl:grid-cols-3
    gap-x-[139px]
    gap-y-10
}

.card-wrapper .line {
    @apply
    h-[3px]
    bg-primary
}

.card-wrapper div .card {
    @apply
    mt-[2px]
    bg-white
    pl-10
    pt-[50px]
    pb-[47px]
    shadow-[0_24px_34px_0_rgba(199,201,217,0.25)];
}

.card.card-1 {
    @apply
    pr-[22px]
}

.card.card-2 {
    @apply
    pr-[27px]
}

.card.card-3 {
    @apply
    pr-[23px]
}

.card .icon-wrapper {
    @apply
    relative
    w-10
    h-10
}

.icon-wrapper .icon {
    @apply
    absolute
    top-2/4
    left-2/4
    -translate-x-2/4
    -translate-y-2/4
}

.icon.icon-1 {
    @apply
    w-8
    h-7
}

.icon.icon-2 {
    @apply
    w-10
    h-6
}

.icon.icon-3 {
    @apply
    w-9
    h-9
}

.card h1 {
    @apply
    mt-6
    text-black
    text-2xl
    font-bold
    tracking-[0.72px]
}

.card p {
    @apply
    mt-3
    text-grey
    text-sm
    leading-[22px]
    tracking-[0.42px]
}

section.portfolio-section {
    @apply
    px-4
    xl:px-0
    pt-[150px]
}

.portfolio-section .title-description-wrapper {
    @apply
    text-center
}

.title-description-wrapper h1 {
    @apply
    text-black
    text-[32px]
    font-bold
    leading-10
    tracking-[0.64px]
}

.title-description-wrapper p {
    @apply
    text-grey
    text-sm
    tracking-[0.28px]
}

.portfolio-section .image-portfolio-wrapper {
    @apply
    mt-[60px]
}

.image-portfolio-wrapper .row-1 {
    @apply
    grid
    grid-cols-1
    xl:grid-cols-2
    gap-[30px]
}

.row-1 .card img {
    @apply
    w-full
    rounded-[10px]
    object-cover
}

.row-1 .card h1 {
    @apply
    mt-5
    text-black
    text-[28px]
    font-bold
    leading-9
    tracking-[0.84px]
}

.row-1 .card span {
    @apply
    mt-[10px]
    text-grey
    text-sm
    tracking-[0.42px]
}

.image-portfolio-wrapper .row-2 {
    @apply
    mt-[30px]
    grid
    grid-cols-1
    lg:grid-cols-2
    xl:grid-cols-3
    justify-center
    gap-[30px]
}

.row-2 .card {
    @apply
    w-full
}

.row-2 .card h1 {
    @apply
    mt-5
    text-black
    text-xl
    font-bold
    leading-9
    tracking-[0.6px]
}

.row-2 .card p {
    @apply
    mt-2.5
    text-grey
    text-sm
    tracking-[0.42px]
}

footer.footer {
    @apply
    px-4
    xl:px-0
    pt-[150px]
    pb-[59px]
    flex
    justify-between
    items-center
    text-black
}

footer.footer .main-link {
    @apply
    text-2xl
    font-semibold
    tracking-[0.48px]
}

footer.footer .button-hire {
    @apply
    bg-primary
    rounded-lg
    px-5
    py-3
    text-white
    font-medium
}
